<!DOCTYPE html>
<link rel="stylesheet" href="home.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunis Business School Restaurant</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Wakalni Logo" class="logo-image">
            TBS Restaurant 
        </div>
        <nav>
           
        </nav>
    </header>
    
    <main>
        <section class="welcome">
            <h1>Welcome to Tunis Business School Restaurant System!</h1>
            <div class="cta-buttons">
                <a href="reservation.html" class="btn">Save Your Next Spot</a>

                <a href="review.html" class="btn">Write a review on today's dish</a>
            </div>
        </section>

        <section class="info">
            <p><strong>Dish of the Day:</strong> Makrouna Tajine Slata Orange</p>
            <p><strong>Availability of the dish:</strong> Available</p>
            <p><strong>Next Slot Available:</strong> 12:30 PM - 1:00 PM</p>
        </section>
    </main>
    
    <footer>
        <p>© 2025 Tunis Business School Restaurant</p>
    </footer>
</body>
</html>
