<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - TBS Restaurant</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <div class="logo">TBS Wakalni</div>
    </header>

    <main>
        <section class="selection-page">
            <h1>Welcome to TBS Restaurant</h1>
            <p>Choose your role to continue:</p>
            <div class="buttons">
                <a href="C:\Users\SAT\Desktop\university restaurant1\university restaurant\templates\login.html" class="btn">Student</a>
                <a href="C:\Users\SAT\Desktop\university restaurant1\university restaurant\templates\loginstaff.html" class="btn">Staff Member</a>
            </div>
        </section>
    </main>

    <footer>
        <p>© 2025 Tunis Business School Restaurant</p>
    </footer>
</body>
</html>
